.tdorange{

	color:#e47911;
	float:left;
	font-size: 16px;
	font-weight: bold;
}

.tdnormal{

}

<<<<<<< HEAD
#googleMap{
	width:400px;
	height:300px;
}

.CenterImg {
    text-align: center; /* center the image */
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    /*border: 1px solid blue;*/
    border-radius: 1px;
}
.CenterImg img {
    display: inline-block;  /* treat the img like text */
    max-width: 250px; /*resolution of the img*/
    width: 60%; /* shrink to 60% if lower than 250px */
    /*margin: 1em auto;*/  /* add space between top and bottom edge of container */
}

.ZapCenterImg {
    text-align: center; /* center the image */
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    /*border: 1px solid blue;*/
    border-radius: 1px;
}
.ZapCenterImg img {
    display: inline-block;  /* treat the img like text */
    max-width: 200px; /*resolution of the img*/
    width: 100%; /* shrink to 80% if lower than 350px */
    /*margin: 1em auto;*/  /* add space between top and bottom edge of container */
=======
.zapimgdiv{

	float:left;
	margin:10px;
	height:150px; 
	width:120px;
}

#googleMap{
	width:400px;
	height:300px;
>>>>>>> bd01e6c50873c65248ced8b77cc3fb1bcbedbb83
}